DATABASE_URL=postgres://lawyeradmin:Lf8xQ2mR9pK3nV7w@pqyieguutd81hrlarzn12wth:5432/lawyersites
NEXTAUTH_SECRET=ijc7zf6vG+pFwOx/Sibk9QAwlg4JkI33F5VOJNEqTdo=
NEXTAUTH_URL=http://localhost:3004
ADMIN_PASSWORD=your-password-here
